@import "~@flaticon/flaticon-uicons/css/all/all";
.navBar {
    border: 2px solid green;
    width: 100%;
    background-color: #131921;
    display: flex;
}
img {
    height: 100%;
    width: 100%;
}
#brand {
    width: 8%;
}
p {
    margin: 0 !important;
    padding: 0;
    text-decoration: none;
    color: #ffff;
    line-height: 1;
}

#brand span {
    font-size: 15px;
    color: #ffff;
}

#brand a img {
    width: 80%;
    margin-top: 10px;
}
.location {
    color: #ffff;
    display: inline;
    margin-top: 13px;
    margin-right: 5px;
}

.tabs {
    height: 55px;
    margin: 5px 8px;
    padding: 10px 6px;
}
.tabs:hover {
    border: 1px solid #ffff;
    border-radius: 2px;
}
.tabs a {
    text-decoration: none;
}
#tab1 a{
    display: flex;
}

#tab2 {
    padding: 17px 10px;
}

#tab2 a {
    display: flex;
}
#tab2 a p {
    padding-top: 5px;
}
#tab2 a img {
    width: 28px;
    height: 28px;
    padding-bottom: 2px;
}
.searchBar {
    height: 50px;
    width: 40%;
    display: flex;
    margin: 7px 30px;
}
.searchBar input {
    height: 98%;
    width: 70%;
    border: none;
    outline: none;
}

.searchBar select {
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 98%;
    width: 20%;
    background-color: #e6e6e6;
}
.searchIcon {
    width: 10%;
    background-color: #febd69;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 13px 18px;
}

.firstPara {
    font-size: 13px;
}
.secondPara {
    font-size: 16px;
    display: inline;
}
#cartCount {
    position: relative;
    top: -4px;
    left: 37px;
    color: #febd69;
    font-size: 18px;
    font-weight: 600;
}
#tab4 {
    width: 8%;
    padding: 2px;
}
#tab4 a {
    color: #ffff;
    display: flex;
}
.cart {
    width: 100%;
    height: 95%;
    display: flex;
}
.cart img {
    width: 57%;
    height: 100%;
}
.cart p {
    position: relative;
    top: 15px;
}
.arrow {
    color: #ffff;
}
#arrow1 {
    position: relative;
    top: 7px;
    right: 3px;
}

/* 2xl */
@media (max-width: 1445px) {
    .firstPara {
        font-size: 11px;
    }
    .secondPara {
        font-size: 14;
    }
  }
  
  /* x
  l */
  @media (max-width: 1280px) {
    .navBar {
        width: 100%;
        display: flex;
        background-color: #131921;
    }
  }
  
  /* lg 
  */
  @media (max-width: 1024px) {
    .navBar {
        width: 100%;
        display: flex;
        background-color: #131921;
    }
  }
  
  /* md 
  */
  @media (max-width: 768px) {
    .navBar {
        width: 100%;
        display: flex;
        background-color: #131921;
    }
  }
  
  /* sm 
  */
  @media (max-width: 640px) {
    .navBar {
        width: 100%;
        display: flex;
        background-color: #131921;
    }
  }
  
  /* xs 
  */
  @media (max-width: 475px) {
    .navBar {
        width: 100%;
        display: flex;
        background-color: #131921;
    }
  }
